<div class="forgot-page">
  <div class="forgot-card">

    <div class="logo-section">
      <div class="logo">SP</div>
      <h1>Forgot Password</h1>
      <p>Enter your registered email</p>
    </div>

    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">

      <div class="input-group">
        <label>Email</label>
        <input
          type="email"
          formControlName="email"
          placeholder="Enter your email">
      </div>

      <button type="submit">
        Continue
      </button>
     <div class="footer-links">
  <a routerLink="/login">← Back to Login</a>
</div>

    </form>

  </div>
</div>