<div class="register-page">

  <div class="register-card">

    <div class="logo-section">
      <div class="logo">SP</div>
      <h1>Study Portal</h1>
      <p>Create Your Account</p>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="input-group">
        <label>Username</label>
        <input
          type="text"
          formControlName="username"
          placeholder="Enter username">
      </div>

      <div class="input-group">
        <label>Email</label>
        <input
          type="email"
          formControlName="email"
          placeholder="Enter email">
      </div>

      <div class="input-group">
        <label>Password</label>
        <input
          type="password"
          formControlName="password"
          placeholder="Enter password">
      </div>

      <div class="input-group">
        <label>Confirm Password</label>
        <input
          type="password"
          formControlName="confirmPassword"
          placeholder="Confirm password">
      </div>

  
      <button
        type="submit"
        [disabled]="registerForm.invalid">
        Register
      </button>

    </form>

    <div class="footer-links">
      <p>
        Already have an account?
        <a routerLink="/login">Login</a>
      </p>
    </div>

  </div>

</div>
