<div class="video-container">
  <video
    #bgVideo
    autoplay
    muted
    loop
    playsinline
    preload="auto">
    <source src="/btech-bg.mp4" type="video/mp4">
  </video>
</div>
<div class="overlay"></div>

<div class="login-page">

  <div class="login-card">

    <div class="logo-section">

      <div class="logo">BX</div>

      <h1>BacklogX</h1>

      <p>A B.Tech Learning Platform</p>

    </div>

    <form [formGroup]="loginForm"
          (ngSubmit)="onSubmit()">

      <!-- Username -->

      <div class="input-group">

        <label>Username</label>

        <input
          type="text"
          formControlName="username"
          placeholder="Enter username">

        @if(loginForm.get('username')?.touched &&
            loginForm.get('username')?.invalid){

          <small class="error">
            Username is required
          </small>

        }

      </div>

      <!-- Password -->

      <div class="input-group">

        <label>Password</label>

        <input
          type="password"
          formControlName="password"
          placeholder="Enter password">

        @if(loginForm.get('password')?.touched &&
            loginForm.get('password')?.hasError('required')){

          <small class="error">
            Password is required
          </small>

        }

        @if(loginForm.get('password')?.touched &&
            loginForm.get('password')?.hasError('minlength')){

          <small class="error">
            Password must contain at least 6 characters
          </small>

        }

      </div>

      <!-- Remember Me -->

      <div class="options">

        <label class="remember-me">

          <input
            type="checkbox"
            formControlName="rememberMe"
            (change)="rememberUser()">

          Remember Me

        </label>

        <a routerLink="/forgot-password">
          Forgot Password?
        </a>

      </div>

      <!-- Login -->

      <button
        type="submit"
        [disabled]="loginForm.invalid">

        Login

      </button>

      <!-- Register -->

      <div class="register-section">

        <span>New User?</span>

        <a routerLink="/register">
          Register Here
        </a>

      </div>

    </form>

  </div>

</div>